.App {
  text-align: center;
}

.App-logo {
  height: 30px;
}

.App-header {
  background-color: #d9edf7;
  height: 120px;
  padding: 20px;
  color: black;
  margin-bottom: 20px;
}

.App-title {
  font-size: 1.25em;
  margin-top: 0px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
